{
    "openapi": "3.0.0",
    "info": {
        "title": "TC License API",
        "description": "",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://www.thunderclient.com"
        }
    ],
    "tags": [],
    "paths": {
        "/api/license/add": {
            "post": {
                "summary": "Create",
                "tags": [
                    "default"
                ],
                "description": " ",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "accountNumber": "{{TC_ACCOUNT_NUMBER}}",
                                    "emails": [
                                        "test+1@gmail.com"
                                    ]
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/api/license/query": {
            "get": {
                "summary": "Get Licenses",
                "tags": [
                    "default"
                ],
                "description": "{\n  \"accountNumber\": \"{{TC_ACCOUNT_NUMBER}}\",\n  \"pageNumber\":1\n}",
                "parameters": [
                    {
                        "name": "accountNumber",
                        "in": "query",
                        "required": false,
                        "description": "accountNumber",
                        "schema": {
                            "type": "string",
                            "example": "{{TC_ACCOUNT_NUMBER}}"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "description": "pageNumber",
                        "schema": {
                            "type": "string",
                            "example": "3"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/license/remove": {
            "post": {
                "summary": "Remove",
                "tags": [
                    "default"
                ],
                "description": " ",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "accountNumber": "{{TC_ACCOUNT_NUMBER}}",
                                    "emails": [
                                        "test+1@gmail.com"
                                    ]
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "securitySchemes": {}
    }
}